<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <!-- tb 自适应的方案 -->
    <script src="/static/javascripts/amfe-flexible/index.js"></script>
    <script src="/static/javascripts/base.js"></script>
    <!-- cdn -->
    <script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/bass.css">
    <link rel="stylesheet" href="/static/stylesheets/register.css">
    <!-- <link rel="stylesheet/less" type="text/less" href="/static/stylesheets/login.less"> -->
</head>
<body>
    <!-- <div class="font14">login</div> -->
    <div>
        <div class="background header">
            <div class="background-icon">
                <img src="/static/images/logo.png" alt="" srcset="">
            </div>
            <p class="background-title">Hummingbird</p>
            <span class="background-subtitle">Sign in to continue</span>
        </div>
        <div class="content">
            <form action="/login" method="post" class="form">
                <div class="form-item">
                    <label for="name">Name</label>
                    <input id="name" name="username" type="text" placeholder="Please type full name">
                </div>
                <div class="form-item">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" placeholder="enter_email@example.com">
                </div>
                <div class="form-item">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="dont less than 6 number">
                </div>
                <div class="form-item">
                    <input id="submit" type="button" value="Sign up" >
                </div>
            </form>
        </div>
        <div class="footer">
            <p>
                Don't have an account?
                <a href="/signup"> Sign up</a>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        if (!$) {
            widow.alert("该浏览器不支持 Jquery")
        }
        function vaidate(value) {
            if (typeof value === 'string') {
                return !!value
            } else if (typeof value === 'object') {
                var to;
                try {
                    to = !! JSON.stringify(value)
                } catch (err) {
                    throw err
                }
                return to
            }
        }
        $("#submit").on("click", function () {
            var user = $("#email").val()
            var pass = $("#password").val()
            if (vaidate(user) && vaidate(pass)) {
                $.ajax('/login', {
                    method: 'post',
                    data: {
                        username: user,
                        password: pass
                    }
                }, function (data) {
                    console.log(data)
                } ,function (err) {
                    console.log(err)
                })
            }
        })
    </script>
</body>
</html>