
/**
  * @description global variable
  * @author xuchao
  * @timer 2019.01.03
*/

.main_color {color: #3d3e40;}
.main_bg {background-color: #006aff;}
.back_color, .search {color: #9da0a6;}

header {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}